<footer class="footer text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <img src="/assets/img/MODAVISTA.png" alt="Logo" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Liens Utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="/NousTrouver">Nous trouver</a></li>
                    <li><a href="/">Page d'accueil</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>