<footer class="pt-5 mt-4 text-body-secondary border-top">
    <div class="container">
        <div class="text-center py-2">
            <img src="/assets/img/MODAVISTA.svg" alt="d-block" height="100" />
        </div>

        <div class="row py-5">
            <div class="col-md-4 text-center">
                <ul class="list-unstyled">
                    <li><a class="f-link" href="#">Contact us</a></li>
                    <li><a class="f-link" href="#">My orders</a></li>
                    <li><a class="f-link" href="#">FAQs</a></li>
                    <li><a class="f-link" href="#">Sitemap</a></li>
                </ul>
            </div>

            <div class="col-md-4 text-center">
                <ul class="list-unstyled">
                    <li><a class="f-link" href="#">Legal</a></li>
                    <li><a class="f-link" href="#">Mode</a></li>
                    <li><a class="f-link" href="#">Careers</a></li>
                    <li><a class="f-link" href="#">Information</a></li>
                </ul>
            </div>

            <div class="col-md-4 text-center">
                <ul class="list-unstyled">
                    <li><a class="f-link" href="#">English</a></li>
                    <li><a class="f-link" href="#">French</a></li>
                    <li><a class="f-link" href="#">Canada#America</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>