<header class="pb-3 mb-4 border-bottom">
    <div class="menu">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none logo">
            <img src="/assets/img/logo.svg" alt="logo" height="100" />
        </a>
        <div class="menu-btns">
            <a href="#" class="btn btn-primary">
                <i class="bi bi-person-circle"></i>
                </svg> Compte
            </a>
            <a href="#" class="btn btn-info"> <i class="bi bi-bag-fill"></i> Panier
            </a>
        </div>
    </div>
</header>