<header class="pb-3 mb-4 border-bottom">
<<<<<<< HEAD
    <div class="menu">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none logo">
            <img src="/assets/img/logo.svg" alt="logo" height="100" />
        </a>
        <div class="menu-btns">
            <a href="/compte" class="btn btn-primary">
                <i class="bi bi-person-circle"></i>
                </svg> Compte
            </a>
            <a href="/checkout" class="btn btn-info"> <i class="bi bi-bag-fill"></i> Panier
            </a>
            <a href="/login" class="btn btn-dark"> <i class="bi bi-door-open-fill"></i> Se connecter
            </a>
            <a href="/signup" class="btn btn-secondary"> <i class="bi bi-at"></i> Créer un compte
            </a>
        </div>
    </div>
=======
	<div class="menu">
		<a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none logo">
			<img src="/assets/img/logo.svg" alt="logo" height="100" />
		</a>
		<div class="menu-btns">
			<a href="/compte" class="btn btn-primary">
				<i class="bi bi-person-circle"></i>
				</svg> Compte
			</a>
			<a href="/checkout" class="btn btn-info"> <i class="bi bi-bag-fill"></i> Panier
			</a>
			<a href="/login" class="btn btn-dark"> <i class="bi bi-door-open-fill"></i> Se connecter
			</a>
			<a href="/signup" class="btn btn-secondary"> <i class="bi bi-at"></i> Créer un compte
			</a>
		</div>
	</div>
>>>>>>> 2d4fb5c71b95f0c1d7ab7320e6523378857ccca5
</header>