body {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

/* Style général pour le formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


/* Style pour les labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style pour les inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style pour le bouton */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

/* Style pour le bouton au survol */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style pour le bouton au clic */
input[type="submit"]:active {
    background-color: #004080;
}
