<!DOCTYPE html>
<html>
	<%- include ("../partials/head.ejs") %>
	<body>
		<!-- navbar-->
		<%- include ("../partials/navbar.ejs") %>
		<div id="all">
			<div id="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<!-- breadcrumb-->
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li aria-current="page" class="breadcrumb-item active">Mes commandes</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-3">
							<!--
                    *** CUSTOMER MENU ***
                    _________________________________________________________
                    -->
							<div class="card sidebar-menu">
								<div class="card-header">
									<h3 class="h4 card-title">Espace client</h3>
								</div>
								<div class="card-body">
									<ul class="nav nav-pills flex-column">
										<a href="customer-orders.html" class="nav-link active"
											><i class="fa fa-list"></i> Mes commandes</a
										><a href="/logout" class="nav-link"
											><i class="fa fa-sign-out"></i> Se déconnecter</a
										>
									</ul>
								</div>
							</div>
							<!-- /.col-lg-3-->
							<!-- *** CUSTOMER MENU END ***-->
						</div>
						<div id="customer-orders" class="col-lg-9">
							<div class="box">
								<h1>Mes commandes</h1>
								<p class="lead">Vos commandes sur un seul endroit.</p>
								<p class="text-muted">
									Si vous avez des questions, n'hésitez pas à
									<a href="contact.html">contactez-nous</a>, notre centre de service client
									travaille pour vous 24h/24 et 7j/7.
								</p>
								<hr />
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Order</th>
												<th>Date</th>
												<th>Total</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th># 1735</th>
												<td>22/06/2013</td>
												<td>$ 150.00</td>
												<td><span class="badge badge-info">Being prepared</span></td>
												<td>
													<a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
												</td>
											</tr>
											<tr>
												<th># 1735</th>
												<td>22/06/2013</td>
												<td>$ 150.00</td>
												<td><span class="badge badge-info">Being prepared</span></td>
												<td>
													<a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
												</td>
											</tr>
											<tr>
												<th># 1735</th>
												<td>22/06/2013</td>
												<td>$ 150.00</td>
												<td><span class="badge badge-success">Received</span></td>
												<td>
													<a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
												</td>
											</tr>
											<tr>
												<th># 1735</th>
												<td>22/06/2013</td>
												<td>$ 150.00</td>
												<td><span class="badge badge-danger">Cancelled</span></td>
												<td>
													<a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
												</td>
											</tr>
											<tr>
												<th># 1735</th>
												<td>22/06/2013</td>
												<td>$ 150.00</td>
												<td><span class="badge badge-warning">On hold</span></td>
												<td>
													<a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include ("../partials/footer.ejs") %>

		<!-- JavaScript files-->
		<%- include ("../partials/javascript.ejs") %>
	</body>
</html>
