<!doctype html>
<html lang="fr" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
                <h1 class="text-center mb-4">Collection</h2>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <img src="/assets/img/chaussure-blanc.png" class="my-4" alt="chaussure blanc">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/veste.png" class="my-4" alt="vert veste">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/tshirts-white.png" class="my-4" alt="tshirts white">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/black-pants.png" class="my-4" alt="black pants">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/black-tshirt.png" class="my-4" alt="black tshirt">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/bag.png" class="my-4" alt="bag">
                        </div>

                    </div>
        </div>
    </main>
</body>

</html>