<!doctype html>
<html lang="fr" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-3">
                            <img src="/assets/img/default-pfp.jpg" class="rounded w-50 m-auto" alt="pfp">

                            <div class="card-body">
                                <p class="fs-4">John Kaleptros</p>
                                <p class="fs-6">3 commandes</p>
                                <p class="fs-6 m-0">102$ dépensés</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Mes commandes</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Item 1: $10</li>
                                    <li class="list-group-item">Item 2: $15</li>
                                    <li class="list-group-item">Item 3: $20</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>
</body>

</html>