<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="/assets/img/bad-girl.png" class="card-img-top" alt="Image 1">
                            <div class="card-body">
                                <h5 class="card-title">Moda 89c</h5>
                                <a href="#" class="btn btn-primary">EXPLORE THE COLLECTION</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <img src="/assets/img/mode-woman.png" class="card-img-top" alt="Image 2">
                            <div class="card-body">
                                <h5 class="card-title">Chemises</h5>
                                <a href="#" class="btn btn-primary">EXPLORE THE COLLECTION</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center py-5">
                    <h2 class="mb-3">Valentines day</h2>
                    <a href="#" class="btn btn-dark">EXPLORE THE COLLECTION</a>
                </div>

                <img src="/assets/img/black-woman.png" alt="woman" class="d-block m-auto" />

                <div class="row py-5 m-auto" style="max-width:1000px;">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/assets/img/shirts.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">500 000 003 $</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/assets/img/bag.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">3000 000 000 $</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/assets/img/shoes.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">500 000 000 $</h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>