</html>
<!DOCTYPE html>
<html>
<%- include ("../partials/head.ejs") %>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJtkUI1WynbgKMc6HsRZa6lXMxoMluG8&callback=console.debug&libraries=maps,marker&v=beta">
        </script>

    <body onload="AfficherButtons(), afficherCarte()">
        <%- include ("../partials/navbar.ejs") %>
            <div id="all">
                <div id="content">
                    <div id="contenantButtons" class="d-flex text-center btn-group">
                    </div>
                    <main>
                        <div id="contenantCarte" class="col-lg-11 d-flex flex-row text-center justify-content-center"
                            style="margin: 6%; height: 50%;">

                            <gmp-map center="45.4924201965332,-73.58061218261719" zoom="14" map-id="Map_Modavista">
                                <gmp-advanced-marker position="45.4924201965332,-73.58061218261719"
                                    title="EndroitModavista"></gmp-advanced-marker>
                            </gmp-map>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat impedit
                                consequuntur reprehenderit? Officiis ducimus nam quas suscipit autem distinctio,
                                iste
                                consectetur eaque quod quibusdam itaque velit at dolorem veniam!</p>
                        </div>

                    </main>

                </div>
            </div>
            <%- include ("../partials/footer.ejs") %>
                <%- include ("../partials/javascript.ejs") %>
    </body>
    <script>
        function AfficherButtons() {
            let url = "http://localhost:3000/api/NousTrouver";
            var buttons = document.getElementById("contenantButtons");
            buttons.innerHTML = "";
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    for (let i = 0; i < data.length; i++) {
                        let button = document.createElement("button");
                        button.innerHTML = data[i].pays;
                        button.setAttribute("class", "btn btn-primary");
                        button.setAttribute("onclick", "afficherCarte(" + i + ")");
                        buttons.appendChild(button);
                    }
                }).catch(error => {
                    console.log(error);
                })
        }
        function afficherCarte(indexCarte) {
            let url = "http://localhost:3000/api/NousTrouver";
            var carte = document.getElementById("contenantCarte");
            fetch(url)
                .then(response => response.json())
                .then(data => {

                }).catch(error => {
                    console.log(error);
                })
        }
    </script>

</html>