<%- include ("../partials/header.ejs") %>
    <div class="bg-image"
        style="align-content: center; background-image: url('<%=fondDEcran%>'); background-size: cover; background-repeat: no-repeat; text-align: justify;">

        <br>
        <h2 style="text-align: center; background-color: blanchedalmond;">Collection</h2>
        <br>

        <div>
            <table>
                <% for(var i=0; i<articulos.length; i++) { %>
                    <tr>
                        <td><%= articulos[i].name%></td>
                    </tr>
                <% } %>

            </table>

        </div>


        <div class="row py-5 m-auto" style="max-width:1000px;">
            <a href="#">
            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/shirts.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Chemise formelle</h5>
                        <p>79.99$</p>
                    </div>
                </div>
            </div></a>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/bag.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Portefolio</h5>
                        <p>129.99$</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/hoodieFuturistic.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Cyberhoodie</h5>
                        <p>129.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5 m-auto" style="max-width:1000px;">
            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/ChemiseNoire.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Chemise noire</h5>
                        <p>49.99$</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/PantalonsNoirs.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Pantalons noirs</h5>
                        <p>40.99 $</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/chemisesBlanches.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Chemise blanche</h5>
                        <p>29.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5 m-auto" style="max-width:1000px;">
            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/SoulierBlanc.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">YEYE'S</h5>
                        <p>349.99$</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/CotonOuate.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">Le Coton Ouaté</h5>
                        <p>59.99$</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/JeansFuturistes.jpg" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">CyberJeans</h5>
                        <p>139.99$</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <%- include ("../partials/footer.ejs") %>