<%- include ("../partials/header.ejs") %>

<style>
    input{
        width: 350;
    }
    .emailInput{
        width: 706;
    }
    .espace{
        margin-right: 150px;
    }
    .espace1{
        margin-left: 130px;
    }
</style>


<center class="PI-center">Inscription</center> </br>
<center>
<div>
    <span class="espace">Prenom</span> <span class="espace1">Nom</span> </br>
    <input type="text" name="Prenom" id="Prenom" placeholder="Entrez votre Prenom" > 
    <input type="text" name="Nom" id="nom" placeholder="Entrez votre Nom" > </br>
    Email </br>
    <input class="emailInput" type="text" name="Email" id="Email" placeholder="Entrez votre Email" ></br>
    Adresse


</div>
</center>


<%- include ("../partials/footer.ejs") %>