<%- include ("../partials/header.ejs") %>
    <div class="bg-image"
        style="align-content: center; background-image: url('<%=fondDEcran%>'); background-size: cover; background-repeat: no-repeat; text-align: justify;">

        <br>
        <h2 style="text-align: center; background-color: blanchedalmond;">Collection</h2>
        <br>

        <div class="row py-5 m-auto" style="max-width:1000px;">
            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/shirts.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">500 000 003 $</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/bag.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">3000 000 000 $</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../assets/img/shoes.png" class="card-img-top" alt="shirt">
                    <div class="card-body">
                        <h5 class="card-title">500 000 000 $</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <%- include ("../partials/footer.ejs") %>