<!doctype html>
<html lang="fr" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/img/chaussure-blanc.png" alt="Image" class="img-fluid" style="width:100%;max-height: 400px;object-fit: cover;">
                    </div>

                    <div class="col-md-6">
                        <h1>Chaussure</h1>
                        <h2>1m homme medium xs</h2>
                        <p>Les chaussures Gucci sont réputées pour leur élégance, leur style emblématique et leur artisanat de qualité. Choisir une paire de chaussures Gucci, c'est investir dans le luxe et la mode. Les collections de chaussures Gucci proposent
                            une variété de styles, des baskets décontractées aux élégantes chaussures habillées.</p>
                        <p><strong>1,200 $</strong>+ taxes</p>
                        <button type="button" class="btn btn-dark">Ajouter au panier</button>
                    </div>
                </div>
        </div>
    </main>
</body>

</html>